
.p-menu {
  background-color: #557A95 !important;
}
.p-menuitem-icon{
    color:#FFFFFF !important;
}

.p-menuitem-text{
  color:#FFFFFF !important;
}

.p-menu .p-menuitem .p-menuitem-link:hover {
  background-color: #5D5C61;
}